@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --var-cor1: #c5ebd6;
    --var-cor2: #83e1ad;
    --var-cor3: #3ddc84;
    --var-cor4: #2fa866;
    --var-cor5: #1a5c37;
    --var-cor6: #063d1e;

    --var-fpadrao: Arial, Helvetica, sans-serif;
    --var-fdestaque: 'Bebas Neue', Arial;
    --var-fidroid: 'idroid', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font: normal 1em var(--var-fpadrao);
    background-color: var(--var-cor1);
}

header{
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--var-cor3), var(--var-cor5));
}

header > h1 {
    padding: 40px 0px 15px 0px;
    text-align: center;
    font: normal 3em var(--var-fdestaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
    color: #ffffff;
}

header > p{
    max-width: 500px;
    margin: auto;
    padding: 0px 12px 0px 12px;
    text-align: center;
    font: normal 1.2em var(--var-fpadrao);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
    color: #ffffff;
}

nav{
    padding: 25px 10px 10px 10px;
    box-shadow: 0px 7px 7px #0000004a;
    background-color: var(--var-cor5);
}

nav a{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    transition-duration: 0.4s;
}

nav a:hover{
    color: var(--var-cor5);
    background-color: var(--var-cor3);
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349);
    background-color: #ffffff;
}

main h1{
    font: normal 2em var(--var-fidroid);
    color: var(--var-cor5);
}

main h2{
    text-indent: 8px;
    font: normal 1.3em var(--var-fidroid);
    color: var(--var-cor4);
    background-image: linear-gradient(to right, var(--var-cor1), transparent);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    font-weight: bold;
    color: var(--var-cor5);
}

main a {
    padding: 2.5px 6px;
    font-weight: bold;
    text-decoration: none;
    color: var(--var-cor5);
    background-color: var(--var-cor1);
}

main a:hover{
    text-decoration: underline;
    color: var(--var-cor4);
}

a.a_externo::after{
    content: '\00A0\1F517';

}

main img{
    width: 100%;
}

img.img_pq{
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 40px 0px 40px 0px;

}

div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
    background-color: var(--var-cor5);
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}

aside{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
    background-color: var(--var-cor1);
}

aside h3{
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    background-color: var(--var-cor4);
}

aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

footer{
    padding: 5px;
    text-align: center;
    color: #ffffff;
    background-color: var(--var-cor6);
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

footer a:hover{
    text-decoration: underline;
    color: var(--var-cor1);
}

